= simple_form_for([@game, @player]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nick
    = f.hidden_field  :user_id, value: @player.user_id.to_s

  .form-actions
    = f.button :submit
