%h1 Listing players

%table#current-players
  %tr
    %th
    %th
    %th

  - @players.each do |player|
    %tr
      %td= player.nick
      %td= link_to 'Show', [@game, player]
      %td= link_to 'Edit', edit_game_player_path(@game, player)
      %td= link_to 'Destroy', [@game, player], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_game_player_path(@game)
%br
-#= link_to 'CLOSE STREAM', game_stream_path(@game)  ,method: :delete, :data => { confirm: 'Are you sure?' }, :class => 'btn btn-default'

