%h1 Marquee
%h2 Current games

.row
  - @open_games.each do |game|
    .col-sm-6.col-md-4
      .thumbnail
        .caption
          %h4 Game
          %p= game.description
          %p
            %a.btn.btn-default{href: new_game_player_path(game)} Join
-# TODO: Join game means creating a _player_ for the game
-#%a.btn.btn-primary{href: "#"} Create new game
= link_to "Create new game", new_game_path, :class => 'btn btn-primary'



%table
  %tr
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td= game.description
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
